==
{% set devents = __SELF__.events %}

<table class="table">

{% for y,eYear in devents %}
{% for m,eMonth in eYear %}
{% for d,eDay in eMonth %}
        <tr data-request-data="year:{{ y }},month:{{ m }},day:{{ d }}">
            <td class="list-icon">
                <div class="holder">
                   <div class="month {{ MyM.color }}">
                        <p>{{ (m~'/1/'~y)|date('M') }}</p> 
                    </div>
                    <div class="day">
                        <p>{{ d }}</p>
                    </div>
                </div>
            </td>
            <td class="list-event">                
{% for eEvent in eDay %}
    {% partial '@event' ev = eEvent %}
{% endfor %}
            </td>
        </tr>
{% endfor %}<!-- eDay -->
{% endfor %}<!-- eMonth -->
{% endfor %}<!-- eYear -->

</table>