description = "SECTION 7"
==
<div class="content-pure">
            <div class="carousel">
                <div class="carousel-cell">
                    <img src="{{ 'assets/img/buehne/weill.jpg'|theme }}" alt="">
                </div>
                <div class="carousel-cell">
                    <img src="{{ 'assets/img/buehne/musical2.jpg'|theme }}" alt="">
                </div>
                <div class="carousel-cell">
                    <img src="{{ 'assets/img/buehne/krug.jpg'|theme }}" alt="">
                </div>
                <div class="carousel-cell">
                    <img src="{{ 'assets/img/buehne/operette.jpg'|theme }}" alt="">
                </div>
                <div class="carousel-cell">
                    <img src="{{ 'assets/img/buehne/weill2.jpg'|theme }}" alt="">
                </div>
                <div class="carousel-cell">
                    <img src="{{ 'assets/img/buehne/parasit_9.jpg'|theme }}" alt="">
                </div>
            </div>
        </div>