==
<nav class="fmenu" id="menu">  
                <ul class="menu-dist">
                    <li data-menuanchor="portrait"><a href="#portrait">Portrait</a></li>
                
                    <li data-menuanchor="vita"><a href="#vita">Vita</a></li>
                    <li data-menuanchor="aktuell"><a href="#aktuell">Aktuell</a></li>
                    <li data-menuanchor="profil"><a href="#profil">Profil</a></li>
                    <li data-menuanchor="rep"><a href="#rep">Repertoire</a></li>
                    <li data-menuanchor="kontakt"><a href="#kontakt">Kontakt</a></li>
                </ul>
</nav>