description = "SECTION 2"
==
<div class="content-pure">
            <div class="carousel">
                <div class="carousel-cell">
                    <img class="img-1" src="{{ 'assets/img/portraits/pachmann-web40.jpg'|theme }}" alt="Hans-Georg Pachmann - Schauspieler & Sänger">
                </div>
                <div class="carousel-cell">
                    <img class="img-2" src="{{ 'assets/img/portraits/pachmann-web36.jpg'|theme }}" alt="Hans-Georg Pachmann - Schauspieler & Sänger">
                </div>
    
                <div class="carousel-cell">
                    <img class="img-3" src="{{ 'assets/img/portraits/pachmann-web10.jpg'|theme }}" alt="Hans-Georg Pachmann - Schauspieler & Sänger">
                </div>
                <div class="carousel-cell">
                    <img class="img-4" src="{{ 'assets/img/portraits/start4.jpg'|theme }}" alt="Hans-Georg Pachmann - Schauspieler & Sänger">
                </div>
                
                <div class="carousel-cell">
                    <img class="img-5" src="{{ 'assets/img/portraits/start6.jpg'|theme }}" alt="Hans-Georg Pachmann - Schauspieler & Sänger">
                </div>
                <div class="carousel-cell">
                    <img class="img-5" src="" alt="">
                </div>
               
            </div>
        </div>