description = "SECTION 1"
==
<div class="section sec1" data-anchor="portrait">
    <div class="sec11">    
        <div class="title-sec1" >
       
            <div class="title-box">   
                <div class="title-sec1-head" id="fit" >    
                    <h3 class="title-1">Hans Georg</h3> 
                    <h3 class="title-2">Pachmann</h3>
                </div>    
                <div class="title-sec1-sub">
                    <h4 id="fit" class="title-3">Schauspiel &amp; Gesang</h4>    
                </div> 
            </div>        
        </div>
    </div>        
</div>