description = "SECTION 3"
==
<div class="content-menu">
            <div class="cv">       
                
                <div class="main-title">Vita</div>
                
                <div class="cv-1">    
                    <div>
                        <h3 class="cat-cv">Engagements &#38; Gastspiele</h3>
                        <dl class="text-cv">    
                            <dd class="text-cv">Oper Leipzig</dd>
                            <dd class="text-cv" >Musikalische Komödie Leipzig</dd>
                            <dd class="text-cv">Metropoltheater Berlin</dd>
                            <dd class="text-cv">Deutsches Nationaltheater Weimar</dd>
                            <dd class="text-cv">Theater Dortmund</dd>
                            <dd class="text-cv">Badisches Staatstheater Karlsruhe</dd>
                            <dd class="text-cv">Theater am Dom in Köln</dd>
                            <dd class="text-cv">Schlossfestspiele Ettlingen</dd>
                            <dd class="text-cv">Hans-Otto-Theater Potsdam</dd>
                            <dd class="text-cv">Bühnen der Stadt Nordhausen</dd>
                        </dl> 
                    </div>
                </div>    
                <div class="cv-2">
                    <div>       
                        <h3 class="cat-cv">Regie</h3>
                        <dl class="text-cv">
                            <dd class="text-cv">Theater Wittenberg</dd>
                            <dd class="text-cv">Theater Zeitz</dd>
                            <dd class="text-cv">Schlossfestspiele Ettlingen</dd>
                            <dd class="text-cv">Kurtheater Bad Honnef</dd>
                            <dd class="text-cv">THEATRium Leipzig (Kinder- &#38; Jugendtheater)</dd>
                            <dd class="text-cv">theaterkompanie leipzig</dd>
                        </dl>        
                    </div>
                    <div class="cv-3">    
                        <h3 class="cat-cv">Lehrtätigkeit</h3>
                            <dl class="text-cv">
                                <dd class="text-cv">seit 2010 Dozent für Schauspiel Tanz- und Kunstakademie Leipzig</dd>
                            </dl>    
                    </div>
                </div>   
                <div class="cv-3">
                    <div>
                        <h3 class="cat-cv">Ausbildung</h3>
                        <dl class="text-cv">
                                <dd class="text-cv">Hochschule für Musik und Theater 
                                <br>»Felix Mendelssohn Bartholdy« Leipzig
                                <br>(1978-1985)
                                </dd>
                                <dd class="text-cv">Gesang bei Prof. Hermann Christian Polster, Prof. Eva Schubert</dd>
                                <dd class="text-cv">Schauspiel bei Peter Meier</dd>
                                <dd class="text-cv">Gesang bei Prof. Hermann Christian Polster, Prof. Eva Schubert</dd>
                                <dd class="text-cv">Sprecherziehung bei Dietrich Hergt</dd>
                        </dl>    
                    </div>
                 </div>    
                
        </div>      

</div>